@page "/ports/show-only-linked"
@layout DemoLayout
@inject LayoutData LayoutData

<div style="position: absolute; z-index: 9999;">
    <div class="custom-control custom-checkbox ml-2">
        <input id="zoomCheckbox" type="checkbox" class="custom-control-input" @bind-value="AllLocked" />
        <label class="custom-control-label" for="zoomCheckbox">Lock All Nodes</label>
    </div>
</div>

<CascadingValue Value="BlazorDiagram">
    <DiagramCanvas>
    </DiagramCanvas>
</CascadingValue>