<div class="default-node @(Node.Selected ? " selected" : "")">
    <div style="align-content: center; width: 50px">
        <div class="card-body">

        </div>
    </div>

    @foreach (var port in Node.Ports)
    {
        if (Node.Locked && !port.Links.Any()) continue;
        <PortRenderer Port="port"></PortRenderer>
    }
</div>

@code {
    [Parameter]
    public NodeModel Node { get; set; }
}